version: 2.1
executors:
  docker-publisher:
    environment:
      CLIENT_IMAGE_NAME: mphbo777/complex-client
      NGINX_IMAGE_NAME: mphbo777/complex-nginx
      SERVER_IMAGE_NAME: mphbo777/complex-server
      WORKER_IMAGE_NAME: mphbo777/complex-worker
    docker:
      - image: circleci/buildpack-deps:stretch
jobs:
  build:
    executor: docker-publisher
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Build Docker Images
          command: | 
            docker build -t $CLIENT_IMAGE_NAME:latest ./client
            docker build -t $NGINX_IMAGE_NAME:latest ./nginx
            docker build -t $SERVER_IMAGE_NAME:latest ./server
            docker build -t $WORKER_IMAGE_NAME:latest ./worker
      - run:
          name: Archive Docker Images
          command: |
            docker save -o client.tar $CLIENT_IMAGE_NAME
            docker save -o nginx.tar $NGINX_IMAGE_NAME
            docker save -o server.tar $SERVER_IMAGE_NAME
            docker save -o worker.tar $WORKER_IMAGE_NAME
      - persist_to_workspace:
          root: .
          paths:
            - ./client.tar
            - ./nginx.tar
            - ./server.tar
            - ./worker.tar
  publish-latest:
    executor: docker-publisher
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - setup_remote_docker
      - run:
          name: Load Archived Docker Images
          command: |
            docker load -i /tmp/workspace/client.tar
            docker load -i /tmp/workspace/nginx.tar
            docker load -i /tmp/workspace/server.tar
            docker load -i /tmp/workspace/worker.tar
      # - run:
      #     name: Publish Client Image to Docker Hub
      #     command: |
      #       echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
      #       docker push $CLIENT_IMAGE_NAME:latest
      - run:
          name: Publish Nginx Image to Docker Hub
          command: |
            echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
            docker push $NGINX_IMAGE_NAME:latest
      - run:
          name: Publish Server Image to Docker Hub
          command: |
            echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
            docker push $SERVER_IMAGE_NAME:latest
      - run:
          name: Publish Worker Image to Docker Hub
          command: |
            echo "$DOCKERHUB_PASSWORD" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
            docker push $WORKER_IMAGE_NAME:latest
workflows:
  version: 2
  build-master:
    jobs:
      - build:
          filters:
            branches:
              only: master
      - publish-latest:
          requires:
            - build
          filters:
            branches:
              only: master